@{
    ViewData["Title"] = "Cadastrar Loja";
}

<div class="text-center">
    <h3 class="display-4">Cadastrar Loja</h3>
</div>



<form action="#" method="post">
    <label for="Id">Número 1</label>  <br> 
    <input type="number" name="Id" id="Id"> <br><br>

    <label for="Piso">Piso</label> <br> 
    <input type="number" name="number2" id="number2"> <br><br>

    <label for="Descricao">Descrição</label> <br> 
    <input type="text" name="Descricao" id="Descricao"> <br><br>

    <label for="Piso">Piso</label> <br> 
    <input type="number" name="number2" id="number2"> <br><br>

    <label for="operacao">Operação:</label>  <br> 
    <select name="operacao">
        <option value="Soma">Somar</option>
        <option value="Subtracao">Subtrair</option>
        <option value="Multiplicacao">Multiplicar</option>
        <option value="Divisao">Dividir</option>
    </select> <br> <br> 
    
   
    <button type="submit">Calcular</button>
</form>