@{
    ViewData["Title"] = "Cadastrar Loja";
}

<div class="text-center">
    <h3 class="display-4">Cadastrar Loja</h3>
</div>

<form action="AdminResult" method="post">
    <label for="Id">Id</label>  <br> 
    <input type="number" name="Id" id="Id"> <br><br>

    <label for="Piso">Piso:</label>  <br> 
     <input type="text" name="Piso" id="Piso"> <br><br>

    <label for="Nome">Nome</label> <br> 
    <input type="text" name="Nome" id="Nome"> <br><br>

    <label for="Descricao">Descrição</label> <br> 
    <input type="text" name="Descricao" id="Descricao"> <br><br>


    <label for="Tipo">Tipo</label> <br> 
    <input type="text" name="Tipo" id="Tipo"> <br><br>

    <!-- <label for="Tipo">Tipo:</label>  <br> 
    <select name="Tipo"> 
        <option value="Loja">Loja</option>
        <option value="Kiosque">Kiosque</option>
    </select> <br> <br>  -->

    <label for="Email">E-mail</label> <br> 
    <input type="email" name="Email" id="Email"> <br><br>

    <button type="submit">Enviar</button>
</form>