@model Avaliacao3BimLP3.ViewModels.LojaViewModel;

@{
    ViewData["Title"] = "Estudante: ";
}

<h1> @Model.Id </h1>

<p> Piso: @Model.Piso </p>
<p> Nome: @Model.Nome </p>
<p> Descrição: @Model.Descricao </p>
@if(@Model.IsLoja)
{
    <p> Tipo: Loja </p>
}
else 
{
    <p> Tipo: Kiosque </p>
}
<a href="AdminDelete/@Model.Id"> <button type="button"> Excluir Loja </button> </a>