@{
    ViewData["Title"] = "Cadastrar Loja";
}

<div class="text-center">
    <h3 class="display-4">Cadastrar Loja</h3>
</div>

<form action="AdminResult" method="post">
    <label for="Id">Id</label> <br>
    <input type="number" name="Id" id="Id"> <br><br>

    <label for="Piso">Tipo:</label> <br>
    <select name="Piso">
        <option value="Piso 1">Piso 1</option>
        <option value="Piso 2">Piso 2</option>
        <option value="Piso 3">Piso 3</option>
    </select> <br> <br>

    <label for="Nome">Nome</label> <br>
    <input type="text" name="Nome" id="Nome"> <br><br>

    <label for="Descricao">Descrição</label> <br>
    <input type="text" name="Descricao" id="Descricao"> <br><br>

    <label for="IsLoja">Tipo:</label> <br>
    <select name="IsLoja">
        <option value="true">Loja</option>
        <option value="false">Kiosque</option>
    </select> <br> <br>

    <label for="Email">E-mail</label> <br>
    <input type="email" name="Email" id="Email"> <br><br>

    <button type="submit">Enviar</button>
</form>